<h1> <%= @amusement_park.name %> </h1>

<h4>Address: </h4>
<p> <%= "#{@amusement_park.address}, #{@amusement_park.city}, #{@amusement_park.state} #{@amusement_park.zipcode}" %> </p>
<p><%= "Phone Number: #{@amusement_park.phone_number}" %></p>

<h4>Website:</h4>
<p><%=link_to @amusement_park.website, "#{@amusement_park.website}" %></p>

<h4>Operating Season: </h4>
<p><%= @amusement_park.operating_season %></p>

<% if @description %>
  <h4>Park Description:</h4>
  <p><%= @amusement_park.description %></p>
<% end %>
